<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Informacion de casa </b>
</p>
<% @info.each do |info| %>
<p>
  <b>Direccion: </b>
  <%= info.address %>
</p>
<p>
  <b>Telefono: </b>
  <%= info.phone %>
</p>
<% end %>

<p>
  <b>Pagos realizados </b>
</p>
<% @payment.each do |money| %>
<p>
  <b>Cantidad: </b>
  $<%= money.ammount %>
</p>
<p>
  <b>Concepto: </b>
  <%= money.concept %>
</p>
<p>
  <b>Fecha: </b>
  <%= money.created_at %>
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
