<p id="notice"><%= notice %></p>
<% if @user.avatar.exists? then %>
<%= image_tag @user.avatar.url(:small) %>
<% else %>
<%= link_to "There are no photo’s attached, upload one.", edit_user_path(current_user) %>
<% end %>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Informacion de casa </b>
</p>
<% @home.each do |home| %>
<p>
  <b>Direccion: </b>
  <%= home.address %>
</p>
<p>
  <b>Telefono: </b>
  <%= home.phone %>
</p>
<p>
  <%= link_to 'Editar esta informacion', edit_home_path(home.id) %>
</p>
<% end %>

<p>
  <b>Pagos realizados </b>
</p>
<% @payment.each do |money| %>
<p>
  <b>Cantidad: </b>
  $<%= money.ammount %>
</p>
<p>
  <b>Concepto: </b>
  <%= money.concept %>
</p>
<p>
  <b>Fecha: </b>
  <%= money.created_at %>
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
