<p id="notice"><%= notice %></p>

<p>
  <b>Sale name:</b>
  <%= @sale.sale_name %>
</p>

<p>
  <b>Price:</b>
  <%= @sale.price %>
</p>

<p>
  <b>Sold:</b>
  <%= @sale.sold %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
