<div id="header">
      <%= link_to_unless_current "Home", root_path %>
      <%= link_to_unless_current "About", about_path %>
      <%= link_to_unless_current "Contact", contact_path %>
      <%= link_to_unless_current "Sign In", "#" %>
      <%= link_to_unless_current "911", emergency_path %>
</div>