<% if user_signed_in? %>
<h1>Welcome to myHOAme, <%= current_user.name %> </h1>
<ul>
  <li>
    <%= link_to_unless_current "My Information", "users/" + current_user.id.to_s %>
  </li>
</ul>
<% else %>
  <h1>Welcome to myHOAme</h1>
<% end %>
<ul>
  <li>
    <%= link_to_unless_current "Home", root_path %>
  </li>
  <li>
    <%= link_to_unless_current "About", about_path %>
  </li>
  <li>  
    <%= link_to_unless_current "Contact", contact_path %>
  </li>
  <li>
    <%= link_to_unless_current "911", emergency_path %>    
  </li>
</ul>
