<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>MyHOAme | <%= @title %></title>
  <%= stylesheet_link_tag 'style.css', :media => 'screen' %>
  <%= stylesheet_link_tag 'jquery-jvert-tabs-1.1.4.css', :media => 'screen' %>
  <%= javascript_include_tag 'jquery-1.4.1.min.js' %>
  <%= javascript_include_tag 'jquery-jvert-tabs-1.1.4.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <script type="text/javascript">
$(document).ready(function(){

	$("#vtabs1").jVertTabs();
	$("#vtabs2").jVertTabs({
		selected: 1
	});
	$("#vtabs3").jVertTabs({
		select: function(index){
			alert("You clicked tab " + index);
		}
  });  
		
	// add click events for open tab buttons
	$("input[id^=openTab]").each(function(index){
		$(this).click(function(){
			openTab("#vtabs6",index);
			return false;
		});
	});	
	function openTab(tabId,index){
		$(tabId).jVertTabs('selected',index);
	}
});
</script>
<div id="logout"><%= render 'layouts/top_nav' %></div>
<h2>Bienvenido, Mahonri Garnica</h2>
<!-- begin vertical tabs demo -->
<div id="vtabs1">
	<div>
    <ul>
			<li><a href="#vtabs-content-a">Mi informacion</a></li>
			<li><a href="#vtabs-content-b">Mis pagos</a></li>
			<li><a href="#vtabs-content-c">Servicios</a></li>
		</ul>
	</div>
	<div>
		<div id="#vtabs-content-a">
    <%= yield %>	
		</div>
		<div id="#vtabs-content-b">
			Panel 2
		</div>
		<div id="#vtabs-content-c">
			Panel 3
		</div>	
	</div>
</div>
</body>
</html>


